## Individual Project 
## By : Saloni Sharma

## Graph 3 : 
####  Mass Shootings : Increase in mass shootings since Sandy Hook incident in Dec 2012

In [14]:
#Importing the original dataset for firearms and homicides
import pandas as pd
df_2014=pd.read_csv("mass2014.csv")
df_2015=pd.read_csv("mass2015.csv")
df_2016=pd.read_csv("mass2016.csv")
df_2017=pd.read_csv("mass2017.csv")
df_2018=pd.read_csv("mass2018.csv")

#merging the datasets together
df_mass_shooting=df_2014.append([df_2015,df_2016,df_2017,df_2018])
df_mass_shooting

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN
1,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN
2,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4,NaN
3,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN
4,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3,NaN
5,"December 23, 2014",Kentucky,Winchester,260 Oxford Drive,1,3,NaN
6,"December 22, 2014",Michigan,Detroit,Charlevoix and Philip,1,3,NaN
7,"December 22, 2014",New York,Webster,191 Lake Road,4,2,NaN
8,"December 22, 2014",Illinois,Chicago,5700 block of South Green Street,0,5,NaN
9,"December 21, 2014",Florida,Sarasota,4034 N Washington Blvd,2,2,NaN
10,"December 21, 2014",Mississippi,Waynesboro,Central Avenue,1,4,NaN
11,"December 21, 2014",Illinois,Calumet City,600 block of Escanba,1,8,NaN
12,"December 20, 2014",Illinois,Rockford,3200 block of Montrose Avenue,4,0,NaN
13,"December 16, 2014",New Jersey,Elizabeth,Anna Street,0,4,NaN
14,"December 15, 2014",Pennsylvania,Lansdale,100 block of West 5th St,7,0,NaN
15,"December 14, 2014",Florida,Miami,1311 Northwest 2nd Avenue,1,4,NaN
16,"December 13, 2014",Florida,Tampa,810 E. Skagway Ave.,0,5,NaN
17,"December 12, 2014",Oregon,Portland,717 North Killingsworth Court,0,4,NaN
18,"December 7, 2014",Indiana,South Bend,16000 block of Roosevelt Road,0,4,NaN
19,"December 2, 2014",Missouri,Saint Louis,6000 block of Virginia Avenue,1,5,NaN
20,"December 2, 2014",Virginia,Newport News,6128 Jefferson Ave,0,5,NaN
21,"November 30, 2014",New York,Brooklyn,375 Remsen Avenue,0,4,NaN
22,"November 30, 2014",Tennessee,Chattanooga,2412 East 13th Street,0,5,NaN
23,"November 29, 2014",New Jersey,Newark,348 S Orange Ave,1,3,NaN
24,"November 29, 2014",Georgia,Atlanta,1600 block of Richmond Avenue,3,2,NaN
25,"November 28, 2014",Tennessee,Memphis,1849 East Brooks Road,0,4,NaN
26,"November 27, 2014",Texas,Georgetown,Pvt Rd 934,2,3,NaN
27,"November 26, 2014",California,San Francisco,Mission and 13th streets,0,6,NaN
28,"November 23, 2014",Virginia,Parksley,Parksley Road,0,4,NaN
29,"November 23, 2014",Colorado,Denver,Federal Boulevard and 16th Avenue,1,4,NaN
...,...,...,...,...,...,...,...
50,"February 14, 2018",Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17,NaN
51,"February 13, 2018",Louisiana,New Orleans,5400 block of Andry Street,2,3,NaN
52,"February 11, 2018",Michigan,Detroit,19432 Lamont Street,4,3,NaN
53,"February 10, 2018",Kentucky,Paintsville,413 Mill Street,5,0,NaN
54,"February 7, 2018",Florida,Lake Worth (Lantana),I-95 and Lantana Ave,3,3,NaN
55,"February 5, 2018",Colorado,Colorado Springs,4225 Galley Rd,2,4,NaN
56,"February 3, 2018",Ohio,Cleveland (Garfield Heights),11321 Broadway Ave,1,5,NaN
57,"January 31, 2018",Missouri,Saint Louis,Goodfellow Blvd and Dr Martin Luther King Dr,0,4,NaN
58,"January 28, 2018",Pennsylvania,Melcroft,1301 Indian Creek Valley Rd,5,0,NaN
59,"January 28, 2018",Pennsylvania,Reading,123 S 3rd St,4,0,NaN
60,"January 28, 2018",Indiana,Indianapolis,1313 N Sherman Dr,2,3,NaN
61,"January 27, 2018",California,Los Angeles,243 East 119th St,0,5,NaN
62,"January 27, 2018",Kentucky,Bowling Green,645 Pearl Street,0,4,NaN
63,"January 25, 2018",District of Columbia,Washington,1600 block of Kenilworth Ave NE,0,4,NaN
64,"January 23, 2018",Pennsylvania,Philadelphia,N 24th St and Ridge Ave,0,4,NaN
65,"January 23, 2018",Kentucky,Benton,416 High School Road,2,14,NaN
66,"January 21, 2018",Florida,Orlando,3101 Willow Bend Blvd,0,4,NaN
67,"January 21, 2018",Illinois,Chicago,3200 W Division St,0,4,NaN
68,"January 17, 2018",District of Columbia,Washington,2000 block of 16th St SE,1,3,NaN
69,"January 16, 2018",South Carolina,York,3042 Farrier Lane,1,4,NaN
70,"January 15, 2018",Florida,Alachua,14223 NW 156th Pl,0,5,NaN
71,"January 14, 2018",Alabama,Eutaw,809 Mesopotamia St,1,4,NaN
72,"January 14, 2018",Alabama,Madison,101 Westchester Dr,0,4,NaN
73,"January 12, 2018",Tennessee,Nashville,2614 Jenkins Ct,3,2,NaN
74,"January 11, 2018",Missouri,Saint Robert (St Robert),St Robert Outer Road and Houston Road,2,2,NaN
75,"January 7, 2018",Alabama,Union Springs,U.S. Highway 29,1,5,NaN
76,"January 7, 2018",Florida,Plantation,5225 W Broward Blvd,0,4,NaN
77,"January 5, 2018",Mississippi,Hattiesburg,6168 US 49,0,6,NaN
78,"January 4, 2018",Arkansas,Brinkley,615 W 6th St,1,3,NaN
79,"January 1, 2018",Alabama,Huntsville,2025 Sparkman Dr NW,1,3,NaN

In [15]:
#checking for nulls
df_mass_shooting.isnull().sum()

Incident Date        0
State                0
City Or County       0
Address             11
# Killed             0
# Injured            0
Operations        1412
dtype: int64

In [16]:
#Operations column is filled with nulls, hence removing it completely.
#The address column is not necessary for the analysis , hence removing it 
df_mass_shooting.drop(['Address','Operations'],axis=1,inplace=True)

In [17]:
df_mass_shooting.isnull().sum()#all nulls are removed

Incident Date     0
State             0
City Or County    0
# Killed          0
# Injured         0
dtype: int64

In [21]:
#renaming the #Killed and #Injured columns to "Killed" and "Injured" respectively

df_mass_shooting.rename(columns={'# Killed':'Killed', '# Injured':'Injured'},inplace=True)
df_mass_shooting.head(5)

       Incident Date       State  City Or County  Killed  Injured
0  December 29, 2014   Louisiana     New Orleans       0        4
1  December 27, 2014  California     Los Angeles       1        3
2  December 27, 2014  California      Sacramento       0        4
3  December 26, 2014    Illinois  East St. Louis       1        3
4  December 24, 2014    Missouri     Saint Louis       1        3

In [22]:
#Exporting the merged dataframe as csv
df_mass_shooting.to_csv("merged_mass_shooting.csv")

In [23]:
#in order to see how many people , in total were affected by the shooting, let us combine the killed and the inmjured columns
df_mass_affected=df_mass_shooting.copy()
df_mass_affected['Affected']=df_mass_affected['Killed']+df_mass_affected['Injured']
df_mass_affected.head(5)

       Incident Date       State  City Or County  Killed  Injured  Affected
0  December 29, 2014   Louisiana     New Orleans       0        4         4
1  December 27, 2014  California     Los Angeles       1        3         4
2  December 27, 2014  California      Sacramento       0        4         4
3  December 26, 2014    Illinois  East St. Louis       1        3         4
4  December 24, 2014    Missouri     Saint Louis       1        3         4

In [24]:
#exporting the dataframe to a csv

df_mass_affected.to_csv("mass_affected.csv")